#left-side-bar {    
    background-color: var(--color-main-bg);

    button {
        border: none;
        background-color: var(--color-toolkit-btn);
        margin-top: 5px;
        min-height: 46px;
    }

}
